DJANGO_ENV=dev
DJANGO_SECRET_KEY=demo-assessment-rinh-change-this-secret-key-before-real-production
DJANGO_DEBUG=True

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
DJANGO_CSRF_TRUSTED_ORIGINS=

DB_ENGINE=django.db.backends.postgresql
DB_NAME=assessment_rinh
DB_USER=assessment_user
DB_PASSWORD=assessment_demo_password_change_me
DB_HOST=db
DB_PORT=5432

POSTGRES_DB=assessment_rinh
POSTGRES_USER=assessment_user
POSTGRES_PASSWORD=assessment_demo_password_change_me

DJANGO_LOG_LEVEL=INFO

# PostgreSQL backup scheduler.
# BACKUP_WEEKLY_DAY: 0=Sunday, 1=Monday, ..., 6=Saturday.
BACKUP_RUN_HOUR=3
BACKUP_RUN_MINUTE=0
BACKUP_WEEKLY_DAY=0
BACKUP_MONTHLY_DAY=1
TZ=Europe/Moscow
